{
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "browser": true,
        "jasmine": true
    },
    "rules": {
        "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}],
        "no-param-reassign": ["error", { "props": false }],
        "no-underscore-dangle": "off",
        "no-console": ["off"],
        "react/no-array-index-key": "off"
    }
}