{
    "extends": [
        "airbnb",
        "eslint:recommended",
        "plugin:react/recommended"
    ],
    "env": {
        "browser": true,
        "jasmine": true
    },
    "rules": {
        "react/jsx-filename-extension": [1, {"extensions": [".js", ".jsx"]}],
        "no-param-reassign": ["error", { "props": false }],
        "no-underscore-dangle": ["error", { "allow": ["_id"] }],
        "no-console": ["off"]
    }
}